body {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

.title {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link {
    color: aquamarine;
    font-size: 16px;
}